<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

</body>
<button id="button" onclick="fetchData()">ask</button>
<div>message</div>
<textarea name="request" id="request" cols="30" rows="10"></textarea>
<div>response</div>
<textarea name="response" id="response" cols="30" rows="10"></textarea>

<script>
    async function fetchData() {

        const formData = new FormData();
        formData.append('request', document.querySelector('#request').value);

        try {
            const response = await fetch('http://127.0.0.1:8000/api/gpt', {
                method: 'POST',
                body: formData,
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const data = await response.json();
            console.log(data);
            document.getElementById('response').value = data.message;

        } catch (error) {
            console.error('Error:', error)
        }
    }

</script>

</html>